# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment folders
my_env/
src/
venv/
venv_new/

# IDE folders
.idea/
.vscode/

# Only ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd 